@using Microsoft.AspNetCore.Identity
@using Diplomska.Areas.Identity.Data
@model Diplomska.ViewModels.EventSearch
@inject UserManager<DiplomskaUser> UserManager

@{
    ViewData["Title"] = "EventsJoined";

}
<h2 class ="text-light text-center">@UserManager.GetUserName(User) Is Attending These Events</h2>


<div class="container">
    <div class="card-deck row ">
        @foreach (var item in Model.Events)
        {
            var photoPath = "~/images/" + (item.Poster ?? "party_icon.jpg");

            <div class="card m-3 bg-secondary h-100 shadow-lg" style="height:auto min-width: 18rem; max-width:30.5%;">
                <div class="card-header text-light align-content-center text-center">
                    <h3>  @Html.DisplayFor(modelItem => item.Title)</h3>
                </div>

                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />

                <div class="card-body text-center">
                    @Html.DisplayFor(modelItem => item.Date)
                    @Html.DisplayFor(modelItem => item.Time)
                    @Html.DisplayFor(modelItem => item.Location)
                </div>
                <div class="card-footer text-center">
                    <a style="color:aqua" asp-action="Guest_Joining" asp-route-id="@item.Id">Guest List</a>
                    <a> |</a>
                    <a style="color:aqua" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a style="color:aqua" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a style="color:aqua" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>